.student-served{
    fill:rgb(0, 206, 27);
    cursor: pointer;
    z-index: 900;
    opacity: 0.6;
}

.student-unserved{
    fill:rgb(206, 0, 0);
    cursor: pointer;
    z-index: 900;
    opacity: 0.6;
}

.school{
    fill:rgb(9, 126, 141);
    stroke: rgb(39, 176, 194);
    stroke-width: 1;
    cursor: pointer;
    z-index: 900;
}

.truck{
    fill:rgb(79, 11, 206);
    cursor: pointer;
    z-index: 900;
}


.school:hover {
    fill:rgb(255, 231, 11);
    stroke: rgb(184, 194, 39);
}
.street{
    fill: none;
    opacity: .2;
    stroke-width: 1px;
    stroke: yellow;
    cursor: default;
}
.street-route{
    fill: none;
    stroke-width: 2px;
    stroke: rgb(126, 128, 0);
    opacity: .5;
}

.street-invisible{
    fill: none;
    opacity: 0;
    stroke-width: 0px;
    stroke: rgb(0, 0, 0);
}